.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 1rem 5rem 1rem;
    background-color: #f8f9fd;
}

.title-content {
    text-align: center;
    width: 35%;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 4rem;
}

.questions-row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.question {
    flex: 1 50%;
    display: flex;
    padding: 2rem;
}

.question-icon-container {
    padding: .6rem .8rem 0 0;
}

.question-icon {
    font-size: 1.8rem;
    color: #3054d4;
    stroke-width: 2%;
}