.main {
    margin-top: 7rem;
}

.carousel-4 {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.box-col {
    flex: 1 50%;
    display: flex;
    padding: 1.5rem 3rem;
}

.box-col-health-left,
.box-col-investment-left {
    justify-content: flex-end;
    align-items: center;
}

.box-col-health-right {
    align-items: center;
}

.box-img {
    width: 30vw;
    height: auto;
}

.box-container {
    width: 65%;
}

.box-heading {
    font-size: 4rem;
    font-weight: 500;
    color: #2f3138;
}

.box-paragraph {
    margin: 2.5rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #a5abb1;
}

.box-list {
    list-style-type: none;
}

.box-list-item {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #a5abb1;
}

.box-check {
    margin-right: .7rem;
    font-size: 2rem;
    color: #16f59d;
    stroke-width: 2%;
}

.box-btn {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .7px;
    background-color: #3054d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 .5rem .5rem rgba(48, 84, 212, .2);
    cursor: pointer;
    transition: all .2s;
}

.box-btn-arrow {
    margin-left: .7rem;
    font-size: 1.6rem;
    stroke-width: 1%;
}

.box-btn:hover {
    background-color: darken(#3054d4, 10%);
    box-shadow: 0 .5rem .7rem rgba(48, 84, 212, .4);
}

.error-toast {
    font-size: 1.5rem;
    background-color: #dc3545;
}

.box-col-sm {
    flex: 1 100%;
    justify-content: center;
    padding: 3rem;
}

@media (max-width: 1399px) {
}

@media (max-width: 699px) {
    /*.box-col {
        flex: 1 100%;
        justify-content: center;
        padding: 3rem;
    }*/
}