.main {
    margin-top: 7rem;
}

.image-container {
    height: calc(100vh - 7rem);
}

.image-container-md {
    height: 70vh;
}

.image-container-sm {
    height: 45vh;
}

.image {
    width: auto;
    height: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.box-col {
    flex: 1 50%;
    display: flex;
    padding: 1.5rem 3rem;
}

.box-col-health-left,
.box-col-investment-left {
    justify-content: flex-end;
    align-items: center;
}

.box-col-health-right {
    align-items: center;
}

.box-img {
    width: 30vw;
    height: auto;
}

.box-container {
    width: 65%;
}

.box-list {
    list-style-type: none;
}

.box-list-item {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #a5abb1;
}

.box-check {
    margin-right: .7rem;
    font-size: 2rem;
    color: #16f59d;
    stroke-width: 2%;
}

.error-toast {
    font-size: 1.5rem;
    background-color: #dc3545;
}

.box-col-sm {
    flex: 1 100%;
    justify-content: center;
    padding: 3rem;
}