.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12rem 5rem;
    background-image: linear-gradient(
      105deg,
      rgba(#f3f3f3, 0.7) 0%,
      rgba(#f7f7f7, 0.6) 100%
    ),
    url('../../assets/img/contact-us-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-col {
    flex: 1 50%;
}

.contact-content {
    width: 70%;
}

.contact-heading {
    font-size: 5rem;
    font-weight: 500;
    line-height: 7.5rem;
    color: #2f3138;
}

.contact-paragraph {
    margin: 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
    color: #2f3138;
}

.contact-link {
    font-weight: 600;
    color: #3054d4;
    transition: all .5s;
}

.contact-link:hover,
.contact-item-link:hover {
    color: darken(#3054d4, 15%);
}

.contact-list {
    list-style-type: none;
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.contact-item-icon-container {
    padding-right: 1.2rem;
}

.contact-item-icon {
    font-size: 2.6rem;
    color: #2f3138;
}

.contact-item-heading {
    margin-bottom: .4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #2f3138;
}

.contact-item-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: #3054d4;
    transition: all .5s;
}

/*@media (max-width: 1399px) {
    .contact-container {
        padding: 8rem 3rem 8rem 0;
    }
}

@media (max-width: 699px) {
    .contact-container {
        padding: 5rem 1.5rem;
        background-position: center top;
    }
}*/