.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12rem 5rem;
    background-image: linear-gradient(
      105deg,
      rgba(#f3f3f3, 0.7) 0%,
      rgba(#f7f7f7, 0.6) 100%
    ),
    url('../../assets/img/contact-us-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-col {
    flex: 1 50%;
}

.contact-content {
    width: 70%;
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.contact-content {
    font-size: 1.4rem;
}

.contact-item-icon-container {
    padding-right: 1.2rem;
}

.contact-item-icon {
    font-size: 2.6rem;
    color: #2f3138;
}