.header {
    display: flex;
    background: linear-gradient(#6616fc, #f394d3);
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    height: 7rem;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 7rem;
    height: 7rem;
  }
  .nav-options {
    padding-left: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5rem;
    list-style-type: none;
  }
  .nav-link {
      font-size: 1.8rem;
  }
  .nav-link.active {
      color: #fff;
  }
  .mobile-option {
    display: none;
  }
  .option :hover {
    color: white;
  }
  .mobile-menu {
    display: none;
  }

  @media (max-width: 700px) {
    .header {
      padding: 0px 1rem;
    }
    .logo {
      width: 5rem;
      height: 5rem;
    }
    .nav-options {
      display: flex;
      width: 100%;
      height: calc(100vh - 7rem);
      position: fixed;
      top: 7rem;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0;
    }
    .nav-options.active {
      background: #9899d1;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
      align-content: center;
      padding-left: 0;
    }
  
    .menu-icon {
      width: 4.5rem;
      height: 4.5rem;
    }
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
      padding: 3rem 0;
    }
  }
  .mobile-menu {
    display: block;
  }  