.footer {
    background-color: #1d1e22;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem;
}

.footer-grid {
    flex: 0 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h2 {
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.links-box {
    margin-top: 1.5rem;
    list-style-type: none;
}

.links-box li {
    padding: .5rem;
}

.footer-grid-links {
    font-size: 1.4rem;
    color: #fff;
}

.footer-grid-links:hover {
    text-decoration: underline;
}

.footer p {
    font-size: 1.4rem;
    color: #fff;
}

.footer-logo {
    width: 12rem;
    height: 12rem;
}

.footer-bottom {
    margin-top: 5rem;
    padding: 1.5rem;
    text-align: center;
    background-color: #1a1b1d;
}

.copyright {
    font-size: 1.6rem;
    color: #bcbcbc;
}

/*@media (max-width: 1399px) {
    .footer-grid {
        flex: 0 50%;
    }
}

@media (max-width: 699px) {
    .footer-grid {
        flex: 0 100%;
    }
}*/

.md-footer-grid {
    flex: 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sm-footer-grid {
    flex: 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

