$color-dark-text: #2f3138;
$color-light-text: #a5abb1;
$color-link: #586bcd;
$color-btn-background: #3054d4;
$color-check: #a8ddc8;
$color-about-title-background: #f8f9fd;
$color-background-about: #f8f9fd;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

.carousel .thumbs-wrapper {
  text-align: center;
}